<div class="guest {{guestAvailable}} {{guestAttending}} l-contain l-grid-u" data-guest="{{id}}">
    <div class="guest-details">
        <h2 class="l-grid">
            <span class="guest-salutation l-grid-u" data-icon>
                <span class="guest-title">{{title}}</span>
                <span class="guest-name">{{name}}</span>
            </span>

            <span class="guest-title-val l-grid-u">
                <input type="text" value="{{title}}" placeholder="Title" data-title>
            </span>
            <span class="guest-name-val l-grid-u">
                <input type="text" value="{{name}}" placeholder="Full Name" data-name>
            </span>
        </h2>

        <p class="guest-attending-val">
            <label>
                <input type="checkbox" data-attending {{#if is_attending}}checked{{/if}}>
                Is Attending Dinner
            </label>
        </p>

        <p class="guest-drink"><b>Drink Options:</b> <span>{{guestDrink}}</span></p>
        <p class="guest-drink-val l-grid">
            <b class="l-grid-u-full">Drink Options:</b>
          {{#each drinkOptions}}
            <label class="l-grid-u">
                <input type="radio" data-drink name="guest-drink-{{../id}}" value="{{id}}" {{isGuestDrink ../drink}}>
                <span class="guest-drink-val-label">{{label}}</span>
            </label>
          {{/each}}
        </p>

        <p class="guest-attending-badminton"><b>{{#unless is_attending_badminton}}Not {{/unless}}Attending Badminton</b></p>
        <p class="guest-attending-badminton-val">
            <label>
                <input type="checkbox" data-attending-badminton {{#if is_attending_badminton}}checked{{/if}}>
                Is Attending Optional Tuesday 20th Badminton
            </label>
        </p>
        {{#if is_plusone}}
	<p class="guest-delete-val">
            <span class="inv-ctrls l-grid-u">
              <button class="guest-delete-val-button" data-icon="t" data-delete-guest>Delete&nbsp;Guest</button>
	    </span>
	</p>
        {{/if}}
    </div>

</div>
