{{setPageTitle "RSVP for Badminton"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="l-contain">
    <h1 class="ann">
        <span class="ann-primary">{{guestsNames html=true}},</span>
        <span class="ann-secondary">
            Indicate if you want to attend an optional badminton event on
            Tuesday, December 20th.
        </span>
    </h1>

    <p>
        An optional badminton event is being arranged on Tuesday, December 20th,
        at Victoriastadion, Lund, around 12:00-13:00.
    </p>

    <form class="rsvp" action="/rsvp/badminton/" method="POST">
        <input type="hidden" name="_csrf" value="{{_csrf}}">

        <button type="submit" name="attending" value="true"
                class="is-button" data-icon="y">
            Will attend Optional Badminton Event
        </button>
    </form>
</div>
