{{setPageTitle "Dinner"}}
{{setActiveNav "dinner"}}
{{setYUIModule "le-dinner"}}
{{setDescription "The details of Behnaz PhD dissertation dinner."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/dinner.css"}}

<div id="map" data-map=""></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Dinner</span>
        <span class="ann-primary">December 19, 2016</span>
        <span class="ann-secondary">Lund, Sweden</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Monday 19"}}
            {{addDayEvent "Dissertation"
                start = "09:00"
                end   = "12:00"
                desc  = "Official Dissertation at Matematikannexet"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Monday 19" primary=true}}
            {{addDayEvent "dinner"
                start = "19:00"
                end   = "02:00"
                desc  = "Dinner"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Tuesday 20"}}
            {{addDayEvent "badminton"
                start = "~12"
                end   = "13"
                desc  = "Optional Badminton"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="l-contain">
        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="p" href="/logistics/">Get There</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="b" href="/logistics/hotels/">Stay There</a>
            </li>
        </ul>
    </div>

    <div class="details l-contain">
        <h2 id="evening-before" class="anchored-header">
            Drinks the Evening Before
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    If you arrive in Easton, MD by <b>Friday, October 4th</b> we would love for you to meet up with us as at:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b><a href="http://washingtonstreetpub.com/">Washington Street Pub &amp; Oyster Bar</a></b><br>
                    <a href="http://maps.apple.com/?q=20+N+Washington+St.+Easton,+MD+21601">
                        20 N Washington St.<br>
                        Easton, MD 21601
                    </a>
                </address>
            </div>
        </div>

        <p>
            The second floor balcony will be reserved for our group starting at <b>8pm</b>. Feel free to come early and enjoy a meal or later just for drinks. This is an informal gathering, and the bar accepts both cash and credit cards.
        </p>


        <h2 id="ceremony" class="anchored-header">
            Ceremony &amp; Reception
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The wedding ceremony will begin, <em>promptly</em>, on <b>Saturday at 4:30pm</b>. The ceremony and reception will be held at the home of Steve and Minda Goldberg:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <a href="http://maps.apple.com/?q=8290+Ingleton+Circle+Easton,+MD+21601">
                        <b>Goldberg Residence</b><br>
                        8290 Ingleton Circle<br>
                        Easton, MD 21601
                    </a>
                </address>
            </div>
        </div>

        <h2 id="badminton" class="anchored-header">
            Optional Badminton Event
        </h2>

        <p>
            Anyone who's interested is invited to the Victoria hall for a
            badminton event on Tuesday around lunch time. Time is flexible,
            depending on participation, and 12:00-13:00 is a guidance.
        </p>
        <p>
            If you want to participate, please indicate so via the
            <a href="/rsvp/badminton/">special badminton RSVP</a>.
        </p>
    </div>
</div>
