{{setPageTitle "Dinner"}}
{{setActiveNav "dinner"}}
{{setYUIModule "le-dinner"}}
{{setDescription "The details of Behnaz PhD dissertation dinner."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/dinner.css"}}

<div id="map" data-map=""></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Dinner</span>
        <span class="ann-primary">December 19, 2016</span>
        <span class="ann-secondary">Lund, Sweden</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Monday 19"}}
            {{addDayEvent "Dissertation"
                start = "09:00"
                end   = "12:00"
                desc  = "Official Dissertation at Matematikannexet"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Monday 19" primary=true}}
            {{addDayEvent "Dinner"
                start = "19:00"
                end   = "02:00"
                desc  = "Dinner"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Tuesday 20"}}
            {{addDayEvent "Badminton"
                start = "~12"
                end   = "13"
                desc  = "Optional Badminton"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="l-contain">
        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="p" href="/logistics/">Get There</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="b" href="/logistics/hotels/">Stay There</a>
            </li>
        </ul>
    </div>

    <div class="details l-contain">
        <h2 id="Dissertation" class="anchored-header">
            Dissertation
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    If you would like to see the actual dissertation, where I
                    ‒ knock on wood ‒ officially receive my PhD title, you
                    are welcome at:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b>Matematikannexet</b><br>
                    Sölvegatan 20<br>
                    223 62, Lund
                </address>
            </div>
        </div>

        <p>
            The dissertation begins at 09:00 sharp, so please be a little
            bit early (aim for 08:30).
        </p>


        <h2 id="Dinner" class="anchored-header">
            Dinner
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The dinner will begin at 19:00 at the penthouse, nickname
                    "Utsikten", on the top of the building "Tornet" at
                    Helsingkrona Nation, nicknamed "Utsikten".
                </p>
                <p class="details-content">
                    Helsingkrona Nation dates back to 1890, though this
                    particular building is less than two years old.
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b>Utsikten</b><br>
                    Tornet, Helsingkrona Nation
                    Tornavägen 3B
                    223 63 Lund
                </address>
            </div>
        </div>

        <h2 id="badminton" class="anchored-header">
            Optional Badminton Event
        </h2>

        <p>
            Anyone who's interested is invited to the Victoria hall for a
            badminton event on Tuesday around lunch time. Time is flexible,
            depending on participation, and 12:00-13:00 is a guidance.
        </p>
        <p>
            If you want to participate, please indicate so via the
            <a href="/rsvp/badminton/">special badminton RSVP</a>.
        </p>
    </div>
</div>
