{{setPageTitle "Event"}}
{{setActiveNav "event"}}
{{setYUIModule "le-event"}}
{{setDescription "The details of Behnaz PhD event."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/event.css"}}

<div id="map" data-map=""></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Dinner</span>
        <span class="ann-primary">December 19, 2016</span>
        <span class="ann-secondary">Lund, Sweden</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Monday 19"}}
            {{addDayEvent "Dissertation"
                start = "09:15"
                end   = "12:00"
                desc  = "Official Dissertation at Matematikannexet"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Monday 19" primary=true}}
            {{addDayEvent "Dinner"
                start = "19:00"
                end   = "02:00"
                desc  = "Dinner"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Tuesday 20"}}
            {{addDayEvent "Badminton"
                start = "~12"
                end   = "13"
                desc  = "Optional Badminton"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="details l-contain">
        <h2 id="Dissertation" class="anchored-header">
            Dissertation
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    If you would like to see the actual dissertation, you are welcome at:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b>Matematikannexet</b><br>
                    Sölvegatan 20<br>
                    223 62, Lund
                </address>
            </div>
        </div>

        <p>
            The dissertation begins at 09:15.
        </p>


        <h2 id="Dinner" class="anchored-header">
            Dinner
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The dinner will begin at 19:00 at the penthouse, nickname
                    "Utsikten", on the top of the building "Tornet" at
                    Helsingkrona Nation.
                </p>
                <p class="details-content"><br/>
                    <img src="/img/utsikten2.jpg" width="330" alt="Picture of party place, Utsikten" title="Picture of party place, Utsikten">
                </p>
                <p class="details-content">
                    Helsingkrona Nation dates back to 1890, though this
                    particular building is less than two years old.
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b>Utsikten</b><br>
                    Tornet, Helsingkrona Nation<br>
                    Tornavägen 3B<br>
                    223 63 Lund
                </address>
            </div>
        </div>
        <div class="details-group">
            <p class="details-content">
                <b>Dinner contributions:</b> A contribution of 450 SEK/person is highly appreciated.
		<ol>
                    <li>Swish to &#48;&#55;&#54;&#53;&#56;&#51;&#54;&#48;&#57;&#53;. Put your name in the message field.</li>
                    <li>Wire transfer to Nordea Bank, account # 30450198405. Put your name in the message field.</li>
                    <li>Cash.</li>
                </ol>
            </p>
            <p class="details-content">
                <b>Dress code:</b>Cocktail or smart casual, according to your taste.
            </p>
            <p class="details-content">
                <b>Color range:</b> Since there is going to be a color theme for the party, it would be appreciated if you choose your dress color according to the range below.<br/><br/>
                <img src="/photos/dresscode01.png" width="250px" alt="dress color range" title="dress color range"><br/>
                (red X means avoid these colors)
            </p>
        </div>

        <h2 id="Badminton" class="anchored-header">
            Optional Badminton Event
        </h2>

        <div class="details-group">
            <p class="details-content">
                Anyone who is interested is invited to the Victoria hall for a
                badminton event on Tuesday around lunch time. Time is flexible,
                depending on participants, and 12:00-13:00 is a guidance.
            </p>
            <p class="details-content">
                If you want to participate, remember to indicate it when you RSVP.
            </p>
            <p class="details-content">
                <b>What to bring:</b><br/>
                Bring indoor sport shoes, sports clothes, optional water bottle. You do <u>not</u> need to bring a badminton racket or shuttles, Behnaz will provide these.
            </p>
            <p class="details-content">
                <b>Map to hall:</b><br/>
                <a href="https://goo.gl/maps/oD7rwom7Lqq" target=_blank><img src="/photos/victoria_map.jpg" width="400px" alt="Map to Victoria Stadium in Lund" title="Map to Victoria Stadium in Lund"></a> <br/>
                The hall is at <a href="https://goo.gl/maps/oD7rwom7Lqq" target=_blank>Lovisastigen 2, 222 41 Lund</a>.
            </p>

        </div>
    </div>

    <p class="button-event">
        <a class="button" data-icon="g" href="/">See PhD page</a>
    </p>
</div>
